.settings-page {
    font-family: Roboto, sans-serif;
    font-size: 17px;
}


.settings-page .panel > .panel-body {
    padding: 15px 30px;
}

.settings-page .panel-heading, .panel-footer {
    padding: 14px 30px;
}

.settings-page .notifications .row {
    height: 42px;
}

.settings-page .notifications .row span {
    display: block;
    flex: 100% - 80px;
    width: calc(100% - 160px);
    flex-grow: 1;
    box-sizing: border-box;
    padding-left: 14px;
}

.settings-page .notifications .row .react-toggle {
    display: block;
    flex: 1;
    width: 20px;
}

.settings-page .form-group {
    border-radius: 17px;
    overflow: hidden;
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
}

.settings-page .react-toggle--checked .react-toggle-track {
    background-color: #820263;
    /*background-color: #2978A0;*/
 }

.settings-page .has-success label.custom-checkbox > span:before, .has-success label.custom-radio > span:before {
    color: white;
    margin-right: 8px;
    border-radius: 3px;
}

 .settings-page .custom-checkbox {
     font-size: 16px;
 }