.new-project-search .panel.panel-blur.search-results {
    position: absolute;
    width: 100%;    
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
    background: url('./new-project-panel-background.png');
    max-height: 0;
    overflow: auto;
    transition: max-height 0.4s var(--ease-out-quart);
    background-size: auto !important;
    box-shadow: 0 1px 6px rgba(250, 250, 250, 0.06);
}

.new-project-search input {
}

.new-project-search .search-input-wrap {
    position: relative;
    margin-top: 40px;
}

.new-project-search .search-input-wrap:after {
    font-family: Ionicons;
    content: "\f4a4";
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 50%;
    font-size: 42px;
    transform: translateY(-50%);
    color: #bbb;
}

.new-project-search input {
    padding-left: 50px !important;
    font-size: 50px !important;
    font-weight: 300 !important;
    font-family: Roboto, sans-serif !important;
    padding-bottom: 4px !important;
}

.new-project-search input::placeholder {
    font-size: 40px !important;
}

.new-project-search.has-results.has-focus .panel.panel-blur.search-results {
    max-height: 300px;
}

.new-project-search .panel.panel-blur.search-results .panel-body {
    padding: 0;
}