.new-project-search .panel.panel-blur.search-results {
    position: absolute;
    width: 100%;    
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
    background: url('./new-project-panel-background.png');
    max-height: 0;
    overflow: auto;
    transition: max-height 0.4s var(--ease-out-quart);
    background-size: auto !important;
}

.new-project-search.has-results.has-focus .panel.panel-blur.search-results {
    max-height: 300px;
}

.new-project-search .panel.panel-blur.search-results .panel-body {
    padding: 0;
}