.equity-chart {
    position: absolute;
    right: -200px;
    top: 34px;
    display: inline-block;
    border-radius: 100%;
    background: rgba(13,13,13,0.8);    
}

.equity-chart .total-tokens {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    padding: 0 30px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
}

.equity-chart .total-tokens input {
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: 300;    
    text-align: center;
    display: inline-block;
    width: calc(100% - 60px);
}
