.edit-periodic-transfer {
    max-width: 500px;
}

.edit-periodic-transfer .description {
    font-size: 20px;
    width: calc(100%);
    margin: 8px 0;
}

.edit-periodic-transfer .repeat-choices {
    display: flex;
    margin-top: 20px;
}

.edit-periodic-transfer .repeat-options {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

.edit-periodic-transfer .repeat-options.visible {
    opacity: 1;
}

.edit-periodic-transfer .repeat-options.week-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
}

.edit-periodic-transfer .week-day {
    --size: 58px;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    margin: 8px 12px 12px 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: var(--size);
    flex: 1 1 auto;
    cursor: pointer;
    font-weight: 400;
    transition: background 0.2s ease-in,
                color 0.2s ease-in;
    /*font-size: 18px;*/
}

.edit-periodic-transfer .week-day:hover,
.edit-periodic-transfer .week-day.active {
    background: #ccc;
    color: #333;
}