.recipients-component {

}

.recipients-component .react-autosuggest__container .input {
    width: 100%;
    font-size: 20px;
    margin: 8px 0;
    padding-left: 36px;
}

.recipients-component .react-autosuggest__container:after {
    font-family: Ionicons;
    content: "\F4A4";
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 12px;
    font-size: 28px;
    color: #bbb;
}

.recipients-component .react-autosuggest__suggestions-container {
    margin-left: 0px;
    position: absolute;
    width: 100%;
    height: 332px;
    overflow: auto; 
    margin-top: -8px;   
}





/** Suggestion components **/

.recipients-component .react-autosuggest__suggestion {
    padding: 0;
}

.recipients-component .react-autosuggest__suggestion--focused {
    opacity: 1;
}

.recipients-component .suggestion {
    display: flex;
    height: 60px;
    align-items: center;
}

.recipients-component .suggestion i {
    --size: 40px;
    flex: 1 1 auto;
    display: block;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 16px;
}

.recipients-component .suggestion .desc {
    flex: 1 1 auto;
}

.recipients-component .suggestion .tokenholders {
    flex: 1 1 auto;
    max-width: 150px;
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}

.recipients-component .suggestion .tokenholder {
    --size: 26px;
    flex: 1 1 auto;
    width: var(--size);
    height: var(--size);
    max-width: var(--size);
    border-radius: 50%;
    margin: 0 4px;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
}


.recipients-component .suggestion.github-repo i {
    background-image: url('./images/github.svg');
}

.recipients-component .suggestion.exposito-project i {
    background-image: url('./images/exposito-logo.svg');
}