.periodic-transfer-list {
    width: 350px;
    max-width: 350px;
}

.periodic-transfer-list .periodic-transfer {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.periodic-transfer-list .periodic-transfer:hover,
.periodic-transfer-list .periodic-transfer.active {
    background-color: rgba(0,0,0,0.3);
}