.new-project-search-result {
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 13px 10px 10px 10px;
    box-shadow: 0 1px 0 0 rgba(255,255,255,.12);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    font-family: Roboto, sans-serif;
    width: 100%;
    overflow: hidden;
}


.new-project-search-result > div {
    white-space: nowrap;
}

.new-project-search-result:hover {
    background-color: rgba(255,255,255, 0.2)
}

.new-project-search-result:last-of-type {
    border-bottom: none;
    box-shadow: none;
}

.new-project-search-result i.ico {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    background-size: cover;
    background-color: transparent;
    vertical-align: middle;
    /*border: 1px solid white;*/
}

.new-project-search-result i.ico.github {
    background-image: url('./github.png');
}

.new-project-search-result .desc {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 300;
    margin-left: 12px;
    letter-spacing: 0.3px;
    line-height: 22px;
}

.new-project-search-result .description {
    font-size: 15px;
    color: #eee;
    white-space: nowrap;
}

.new-project-search-result .user-name {
    display: inline-block;
    font-weight: 300;
}

.new-project-search-result .owner {
    display: inline-block;
    color: #bbb;
    margin-right: 2px;
}

.new-project-search-result .repo-name {
    display: inline-block;
    font-weight: 300;
    margin-left: 2px;
}
