.edit-wallet {
    --input-width: 440px;
    --input-spacing: 40px;
}

.edit-wallet .panel {
    padding-top: 20px;
    text-align: center;
    /*
    width: 900px;
    margin: auto;*/
}

.edit-wallet input[type=text] {
    font-size: 20px;
    width: var(--input-width);
    margin-top: var(--input-spacing);
}

.edit-wallet input[type=text]::placeholder {
    color: #aaa;
}


.edit-wallet .btn-container {
    margin-top: calc(1.5 * var(--input-spacing));
    margin-bottom: var(--input-spacing);
}

.edit-wallet .btn-md {
    min-width: 160px;
    margin: 0 10px;
}





/*** Labels ***/

.react-tagsinput {
    /*
    background-color: #fff;
    border: 1px solid #ccc;*/
    overflow: hidden;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    width: var(--input-width);
    cursor: text;
    display: inline-block;
    text-align: left;
    margin-top: var(--input-spacing);
  }
  
  .react-tagsinput--focused {
    border-color: white;
  }
  
  .react-tagsinput-tag {
    background-color: #C6E0FF;
    border-radius: 4px;
    border: 1px solid #2978A0;
    color: #222;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;
  }
  
  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }
  
  .react-tagsinput-tag a::before {
    content: " ×";
    margin-left: 8px;
    font-size: 18px;
  }
  
  input.react-tagsinput-input[type=text] {
    background: transparent;
    border: 0;
    color: white;
    margin-bottom: 0;
    margin-top: 1px;
    outline: none;
    width: 80px;
  }
  