.new-project {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
}

.new-project h2.main-title {
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    left: 5%;
    top: 4%;
}

.new-project h2 {
    font-weight: 300;
	font-size: 40px;
	margin-bottom: 50px;
}

.new-project .form {
    /*background: grey;*/
    position: absolute;
    /*top: calc(4% + 60px);*/
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    left: 50%;
    transform: translateX(-50%);
}

.new-project .entry {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
}

.new-project .entry.project-description {
	top: 50%;
}

.new-project input {
	font-family: Roboto, sans-serif;
	display: block;
	margin: 0;
	padding: 0 0 4px 0;
	width: 100%;
	border: none;
	border-bottom: 2px solid rgba(255,255,255,0.2);
	background-color: transparent;
	color: #fff;
	text-overflow: ellipsis;
	font-weight: 300;
	font-size: 50px;
	border-radius: 0;
    outline: 0 none;
}

.new-project input::placeholder,
.new-project textarea::placeholder {
	font-size: 40px !important;
}

.new-project input:focus {
	
}


.new-project textarea {
	font-family: Roboto, sans-serif;
    padding: 16px 4px 10px 0px;
    width: 100%;
	height: 80px;
	border: none;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    background-color: transparent;
    color: #fff;
	font-weight: 300;
	font-size: 50px;
	line-height: 54px;
	resize: none;
	outline: 0 none;
	display: inline-block;
	overflow:hidden;
}

.new-project .project-desc {
	margin-top: 30px;
}


.prev-btn {
    position: absolute;
    bottom: 6%;
    left: 5%;
}

.next-btn {
    position: absolute;
    bottom: 6%;
    right: 5%;
}





.fs-form.fs-show {
	-webkit-animation: animFadeIn 0.5s;
	animation: animFadeIn 0.5s;
}


.fs-form.fs-show .fs-fields {
	-webkit-animation: animMove 0.5s;
	animation: animMove 0.5s;
}

.fs-form .fs-fields .entry,
.fs-nav-dots, 
.fs-progress,
.fs-numbers,
button.fs-continue,
.fs-message-error,
.fs-message-final {
	visibility: hidden;
}

.fs-show {
	visibility: visible !important;
}

.fs-form .entry.fs-current {
	visibility: visible;
}

.fs-form li.fs-hide,
.fs-form li.fs-show {
	pointer-events: none;
}

/* Hide current li when navigating to next question */
.fs-form .fs-display-next .fs-hide {
	visibility: visible;
}

.fs-form .fs-display-next .fs-hide .fs-anim-lower,
.fs-form .fs-display-next .fs-hide .fs-anim-upper {
	-webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-next .fs-hide .fs-anim-lower {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}



.fs-form .fs-display-next .fs-show .fs-anim-lower,
.fs-form .fs-display-next .fs-show .fs-anim-upper {
	-webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-next .fs-show .fs-anim-lower {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}




.fs-form .fs-display-prev .fs-hide {
	visibility: visible;
}

.fs-form .fs-display-prev .fs-hide .fs-anim-lower,
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
	-webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}



.fs-form .fs-display-prev .fs-show .fs-anim-lower,
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
	-webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-prev .fs-show .fs-anim-upper {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.fs-form li.fs-current {
	visibility: visible;
}


.equity-container {
	position: relative;
}


/** Animations **/



@keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

@keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}


@keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

@keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

@keyframes animFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


@keyframes animMove {
	from { top: 100px; }
}



/*
@keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}*/

/*
@keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}


@keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}*/


.btn {
	border-radius: 16px;
	font-family: Roboto, sans-serif;
    font-weight: 300;
}

button.btn.btn-default {
    border-width: 1px;
    color: #d6d6d6;
    background: transparent;
	border-color: #d6d6d6;
	transition: background-color 0.3s ease-out,
				color 0.3s ease-out;    
}

button.btn.btn-create {
	border-width: 1px;
	background-color: rgb(12, 61, 86);
	color: white;
	border-color: rgb(12, 61, 86);
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	transition: background-color 0.3s ease-out,
				color 0.3s ease-out;   
}

.btn-lg, .btn-group-lg > .btn {
	padding: 14px 20px;
	font-size: 23px;
	min-width: 200px;
}

.btn:hover {
	transform: none;
}

button.btn.btn-default:hover {
	background-color: rgba(255,255,255,0.8);
	color: #111;
}

button.btn.btn-create:hover {
	background-color: #2978A0;
	color: white;
}