.submenu {
    display: flex;
    height: 122px;
    justify-content: flex-end;
}

.submenu a.submenu-item {
    width: 122px;
    height: 122px;
    margin: 0 16px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 61px;
    border: 1px solid transparent;
    text-align: center;
    position: relative;
    transition: border-color 0.25s ease-out,
                box-shadow 0.25s ease-out;
}

.submenu a.submenu-item > img {
    position: absolute;
    width: auto;
    height: 30px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);    
}

.submenu a.submenu-item > i.fa {
    position: absolute;
    width: auto;
    height: 30px;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    font-size: 22px;
    color: #ddd;   
    text-align: center; 
    transition: color 0.25s ease-out,
                top 0.25s ease-out;
}

.submenu a.submenu-item > span {
    position: absolute;
    display: block;
    left: 6px;
    right: 6px;
    top: 63px;
    color: #ddd;
    line-height: 17px;
    transition: color 0.25s ease-out,
                top 0.25s ease-out;
}


.submenu a.submenu-item.active {
    border-color: white;
    box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}

.submenu a.submenu-item.active > i {
    color: white;
    top: 29px;
}

.submenu a.submenu-item.active > span {
    color: white;
    top: 66px;
}

.submenu a.submenu-item:hover {

}

.submenu a.submenu-item:hover > i {
    color: white;
}

.submenu a.submenu-item:hover > span {
    color: white;
}