h1#logo {
    font-family: 'Comfortaa', cursive;
    font-size: 38px;
    display: inline-block;
    width: auto;
    float: left;
    margin-top: 10px;
}

.project-toggle-link {
    line-height: 56px;
    margin-right: 36px;
}