body.badmin-transparent .wallet-panel.panel.panel-blur {
    width: 380px;
    position: relative;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.45);
}

.wallet-panel > .panel-body {
    padding: 15px 0px;
}

.wallet-panel .wallet-header {
    display: flex;
}

.wallet-panel .wallet-header a {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.wallet-panel .amount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 0px;
}

.wallet-panel .amount-container .amount {
    font-size: 52px;
 
}

.wallet-panel .amount .amount-fmt {
    font-family: 'Marvel', sans-serif;    
}


.wallet-panel .amount-container .amount .currency {
    display: inline-block;
    margin-right: 6px;
    color: #ccc;
    font-family: 'Marvel', sans-serif;    
    font-size: 40px;
}

.wallet-panel .recharts-wrapper {
    display: block;
}




.wallet-panel .transactions {
    margin-top: 20px;
}

.wallet-panel .transactions .tx {
    box-sizing: border-box;
    display: flex;
    padding: 4px 14px;
    align-items: center;
}


.wallet-panel .transactions .tx i.source-type {
    width: 26px;
    min-width: 26px;
    height: 26px;
    background-size: cover;
    margin-right: 10px;
}

.wallet-panel .transactions .tx .date {
    color: #999;
    /*font-size: 12px;*/
    margin-right: 10px;
    text-align: center;
    min-width: 29px;
    max-width: 30px;
}

.wallet-panel .transactions .tx .note {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.wallet-panel .transactions .tx i.amount-change {

}

.wallet-panel .transactions .tx .amount {
    justify-content: right;
    font-size: 24px;
    font-family: 'Marvel', sans-serif;  


}

.wallet-panel .transactions .tx .amount.pos {
    color: green;
}

.wallet-panel .transactions .tx .amount.pos:before {
    content: '+';
}

.wallet-panel .transactions .tx .amount.neg {
    color: red;
}